*{
  margin:0;
  padding:0;
}
h1{
  color: bisque;
  background-color: red;
}
/* .one{
  color:yellow;
  background-color: blue;
  width: 50px;
  height:50px;
  padding:20px;
  border:4px solid green;
  
}
.two{
  color:green;
  background-color: aqua;
  width: 50px;
  height:50px;
  padding:20px;
  border:4px solid green;
} */
.first .second .third .four{
        font-size: 30px;
        color: aqua;
        line-height: 20px;
       } 
        .first + .first  .four {
        color: green !important ;
       }
       .first + .first +.first .four {
        color: blue !important ;
       }
       .first + .first + .first + .first  .four {
        color: red !important ;
       }
       .first + .first +.first + .first +.first .four {
        color: yellow !important;
       }

/* --- Global Styles for clarity --- */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

/* -------------------------------------------
   1) Create 2 div in parallel 
   (same height, width, green & red color)
   ------------------------------------------- */

 .container-parallel {
    /* Use Flexbox to put the divs in parallel */
    display: flex;
    gap: 10px; /* Space between the two divs */
    margin-bottom: 40px;
    width: 100%;
}

.box {
    /* Same height and width */
    width: 50%;
    height: 450px;
    border: 1px solid #333;
}

.green-box {
    background-color: green;
}

.red-box {
    background-color: red;
    background-image:url(../wwww.png) ;
}

@media (min-width: 576px){
  .container-parallel{
    flex-direction: column;
  }
}
