*{
  margin:0;
  padding:0;
}
h1{
  color: bisque;
  background-color: red;
}
.one{
  color:yellow;
  background-color: blue;
  width: 50px;
  height:50px;
  padding:20px;
  border:4px solid green;
  
}
.two{
  color:green;
  background-color: aqua;
  width: 50px;
  height:50px;
  padding:20px;
  border:4px solid green;
}
