*{
  margin:0;
  padding:0;
}
.header{
  width:100%;
  height:12%;
  display:flex;
  align-items:center;
}
.logo{
  width:20%;
  height:100%;
  background:yellow;
}
.menu{
  width:70%;
  height:100%;
  background:blue;
}
.profile{
  width:10%;
  height:100%;
  background:pink;
}
