*{
  margin:0;
  padding:0;
}
.header{
  width:100%;
  height:7%;
  display:flex;
}
.logo{
  width:20%;
  height:100%;
  background:yellow;
  display:flex;
  justify-content:center;
}
.logo a{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
}
.logo a img{
  width:auto;
  height:auto;
}
.menu{
  width:80%;
  height:100%;
  background:blue;
}
/* .profile{
  width:10%;
  height:100%;
  background:pink;
} */
